<div class="container">
	<% if flash[:warning] %>
	<div class="alert alert-danger"><%= flash[:warning] %></div>
	<% end %>
	<% if @tasks && @tasks.size >= 1 %>
	<table class="table table-bordered">
		<thead id='title-favorites'>
			<tr>
				<th>Name</th>
				<th>Active</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody id='favorites-musics'>
			<% if !@tasks.empty? %>
			<% @tasks.each do |values| %>
			<tr id='task-<%=values.id%>'>
				<td><%= values.name %></td>
				<td><%= values.active %></td>
				<% if values.active == 1 %>
				<td>
					<a href='javascript:void(0)' class='task-update' user='<%=current_user.id%>' id='<%=values.id%>'>Close Task
					</a>
				</td>
				<% else %>
				<td>Closed Task</td>
				<% end %>
			</tr>  
			<% end %>  
			<% end %>
		</tbody>
	</table>
	<%end%>
</div>