<div class="container">
	<%= form_for List.new, html: {id: 'form-list', class: 'form-horizontal'}, url: {action: 'add'}, method: 'POST' do |f| %>
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<%= f.text_field :name, class: 'form-control', required: true%><br/> 
			</div> 
		</div>
		<div class="form-group last-input">
			<label for="password" class="col-sm-2 control-label">Available</label>
			<div class="col-sm-10">
				<%= f.select(:available, [['Public', 1], ['Private', 0] ], {}, { :class => 'form-control', required: true }) %>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<input type="button" class='add-task btn btn-default' value='Add Task' >
				<%= f.submit "Register", class: 'button-submit btn btn-default', disabled: true %>
			</div> 
		</div>
	<% end %>
	<% if @list %>
			<% @list.errors.full_messages.each do |message|%>
	    		<div class="alert alert-danger">
	    			<p>List: <%=message%></p>
	    	    </div>
			<% end %>
	<% end %>
	<% if @task %>
		<% @task.errors.full_messages.each do |message|%>
	    	<div class="alert alert-danger">
	    		<p>Task: <%=message%></p>
	    	</div>
		<% end %>
	<% end %>
	<% if flash[:warning] %>
		<div class="alert alert-danger"><%= flash[:warning] %></div>
	<% end %>
</div>