<nav class="navbar navbar-default">
	<h2><a class="navbar-brand" href="/">Loja de Música</a></h2>
	<div class="container-fluid">
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class='nav navbar-nav navbar-right'>
				<% if user_signed_in? %>
				<li>
					<%= link_to "Favorites", '/favorites', method: :get %>
				</li>
				<li>
					<%= link_to "Show Lists", '/list/all', method: :get %>
				</li>
				<li>
					<%= link_to "My Lists", '/', method: :get %>
				</li>
				<li>
					<%= link_to "Create List", '/list/create', method: :get %>
				</li>
				<li>
					<%= link_to "Logout", destroy_user_session_path, method: :delete %>
				</li>
				<% end %>
			</ul>
		</div>
  	</div>
</nav>